{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scrapping web</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="container nav-wrapper">
          <a href="spmed" class="brand-logo right">SPMED</a>
        </div>
    </nav>
    <div class="container">


    <div class="row">
        <div class="col s12">
            <div class="center">
                <a href="spmed" target="_blank"><img src="{%static 'images/spmed_logo_200.png' %}"></a>
                <p>A demo of getting drug-drug interactions application</p>
                <p style="color: darkgray">Source: drugs.com</p>
            </div>
        </div>
    </div>


    <form action="{% url 'new_search' %}" class="form-inline" method="post">
        {% csrf_token %}
        <input type="text", name="search", placeholder="Enter the drug name...">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
        </button>
    </form>

    {% block content %}

    {% endblock content %}

    </div>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>